<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',
    filename='css/index.css') }}"
    />
    <script
      src="{{ url_for('static',
    filename='js/main.js') }}"
      defer
    ></script>
    <title>coldase.com</title>
  </head>
  <body>
    <div class="center-box">
      <h1 class="main-title">Coming soon!</h1>
    </div>
  </body>
</html>
